################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AspnetidentityRoleBased/FileContentIndex/0b10959e-1f94-45e3-a8b8-bdbbac89d5c7.vsidx
/.vs/AspnetidentityRoleBased/FileContentIndex
